<div class="timeline">
  <Timeline::Card @name={{ 'Card 1' }} @from={{ '1111111' }} @description={{ 'Something here' }} />
  <Timeline::Card @name={{ 'Card 1' }} @from={{ '1111111' }} @to={{ '' }} @description={{ 'Something here' }} />
  <Timeline::Card @name={{ 'Card 2' }} @from={{ '1111111' }} @to={{ '22222' }} @description={{ 'Something here <i class="fab fa-docker"></i>' }} />
  <Timeline::Card @name={{ 'Card 3' }} @from={{ '1111111' }} @to={{ '22222' }} @description={{ 'Something here' }} />
</div>